.Slink {
  background: linear-gradient(120deg, #cc00ff 30%, #e683ff 38%, #e683ff 40%, #cc00ff 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  color: white !important;
  padding: 2px 7px !important;
  border-radius: 7px;
  font-weight: 600;
  margin: 5px 2px;
  animation: load89234 2s 1;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

[color="%COLOR_PURPLE%"] {
  color: #a6b3ff;
}

[color="%COLOR_RED%"] {
  color: #9096ff;
}

[color="%COLOR_BLUE%"] {
  color: #ff7d7d;
  font-weight: 700;
}

[color="%COLOR_GREEN%"] {
  color: #15ff00;
}

[color="%COLOR_ORANGE%"] {
  color: #ffdf87;
}

[color="%COLOR_YELLOW%"] {
  color: #f9ff8e;
}
