.Slink {
  background: linear-gradient(120deg, #fae100 30%, #ffffff 38%, #ffffff 40%, #fae100 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  color: black !important;
  padding: 2px 7px !important;
  border-radius: 7px;
  font-weight: 600;
  margin: 5px 1px;
  animation: load89234 2s 1;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

[color="%COLOR_PURPLE%"] {
  color: #b300ff;
}

[color="%COLOR_RED%"] {
  color: #000dff;
}

[color="%COLOR_BLUE%"] {
  color: #ff0000;
  font-weight: 700;
}

[color="%COLOR_GREEN%"] {
  color: #15ff00;
}

[color="%COLOR_ORANGE%"] {
  color: #ffbb00;
}

[color="%COLOR_YELLOW%"] {
  color: #f2ff00;
}
